header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.reload-location {
    display: flex;
    margin-left: 20px;
    margin-right: auto;
}

.location-list-btn {
    width: 46px;
    height: 46px;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    color: var(--color-white);
}