.location-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-gray-light);
    border: none;
    border-radius: var(--spacing-base);
    /* padding: var(--spacing-s) var(--spacing-base); */
    font-family: var(--font-family-primary);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.location-card:hover {
    filter: brightness(0.8);
}

.location-card-info {
    padding: var(--spacing-s) var(--spacing-base);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .location-card-info .location-card-name {
    margin-bottom: var(--spacing-xxs);
} */

.location-card-info .location-card-condition {
    margin-bottom: var(--spacing-l);
    color: var(--color-off-white);
}

.location-card-info .humidity,
.location-card-info .wind {
    display: flex;
    font-size: var(--font-size-s);
    align-items: center;
}

.location-card-info .material-symbols-outlined {
    margin-right: var(--spacing-xxs);
    color: var(--color-off-white);
}

.location-card-info .humidity {
    margin-bottom: var(--spacing-xxs);
}

.location-card-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-xxs);
}

.location-card-weather .location-card-icon {
    margin-right: var(--spacing-base);

    width: 50px;
    height: 50px;
}

.location-card-weather .location-card-temperature {
    font-size: var(--font-size-xxxl);
    margin-right: var(--spacing-base);
    margin-bottom: var(--spacing-s);
}

.location-card-weather .delete-location {
    margin: var(--spacing-xs) var(--spacing-xs) 0 0;
    color: var(--color-off-white);
}