@import './location-card.css';

.location-list-page {
    display: block;
}
.location-list-page.hidden {
    display: none;
}

.location-list {
    display: flex;
    flex-direction: column; 
    gap: var(--spacing-base);
    font-family: var(--font-family-primary);
}

.location-list.hidden {
    display: none;
}

.search-input-container {
    position: relative;
    margin-bottom: var(--spacing-base);
}

.search-result-container {
    margin-bottom: var(--spacing-base);
    border-radius: var(--spacing-s);
    overflow: hidden;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

.search-result-container.active {
    display: block;
}

.search-result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: var(--color-gray-light);
    border: none;
    padding: var(--spacing-s) var(--spacing-base);
    font-family: var(--font-family-primary);
}

.search-result-item:hover {
    filter: brightness(0.8);
}

.search-result-item:last-child {
    border-bottom: none;
}

.location-search {
    background-color: var(--color-gray-light);
    color: var(--color-white);
    border: none;
    width: 100%;
    border-radius: var(--spacing-s);    
    height: 44px;
    padding: 0 40px 0 var(--spacing-base);
    box-sizing: border-box;
}

.location-search:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cancel-search-btn {
    background: none;
    color: var(--color-white);
    font-size: var(--font-size-s);
    border: none;
    height: 100%;
    cursor: pointer;
    position: absolute;
    right: var(--spacing-xs);
    top: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.cancel-search-btn.active {
    display: flex;
}

.cancel-search-btn span {
    font-size: var(--font-size-l);
    color: var(--color-off-white);
}