:root {
    --color-background: linear-gradient(to bottom,
        #391A49 10%,
        #301D5C 32%,
        #262171 56%,
        #301D5C 70%,
        #391A49 91%
    );
    --color-white: hsl(0, 0%, 100%, 1.0);
    --color-off-white: hsl(0, 0%, 100%, 0.8);
    --color-gray-dark: hsl(0, 0%, 32%, 0.6);
    --color-gray-light: hsl(0, 3%, 66%, 0.7);
    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Raleway', sans-serif;
    --font-size-base: 16px;
    --font-size-xxxl: 3.5rem;
    --font-size-xxl: 2rem;
    --font-size-xl: 1.5rem;
    --font-size-l: 1.25rem;
    --font-size-s: 0.875rem;
    --font-size-xs: 0.75rem;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --spacing-base: 1rem;
    --spacing-xxxl: 3rem;
    --spacing-xxl: 2rem;
    --spacing-xl: 1.5rem;
    --spacing-l: 1.25rem;
    --spacing-s: 0.75rem;
    --spacing-xs: 0.5rem;
    --spacing-xxs: 0.25rem;
}